* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  .top-continer {
    background-image: url(./img/hero.png);
    height: 60%;
    background-size: 100% 100%;
    text-align: center;
    .text-wrapper {
      padding-top: 150px;
      .head {
        color: #ffffff;
        font-size: 84px;
        margin-bottom: 50px;
      }

      .content {
        color: #ffffff;
        font-size: 20px;
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    form {
      display: flex;
      gap: 15px;

      .submit-wrapper {
        display: flex;
        align-items: end;
      }
      .input-wrapper {
        label {
          display: block;
          font-size: 16px;
          color: #2c2c2c;
        }
        input {
          border: none;
          border-bottom: 3px #0f5380 solid;
          margin-top: 16px;
          width: 300px;
        }
        input:focus {
          outline: none;
        }
      }
      .submit-wrapper {
        .submitForm {
          color: #ffffff;
          background-color: #0f5380;
          font-size: 22px;
          width: 160px;
          height: 50px;
        }
      }
    }
  }
}
